* { font-family: 'Open Sans', sans-serif; }

body { background-color: #4ec25e; }

.board { display: -ms-flexbox; display: flex; -ms-flex-direction: column; flex-direction: column; }

.board h1 { text-align: center; }

.board .create-column { max-width: 200px; margin: 0 auto; margin-top: 30px; }

.board .column-container { display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

.column { background-color: #635454; padding: 20px; border-radius: 15px; -ms-flex: 1; flex: 1; margin: 50px 10px; }

.column .column-title { text-align: center; color: #131111; background-color: #FFF; border-radius: 8px; height: 40px; }

.column .column-card-list { margin-top: 10px; min-height: 220px; padding-bottom: 70px; }

.card { margin-bottom: 10px; min-height: 100px; color: #FFF; }
