* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: rgb(78, 194, 94);
}

.board {
    display: flex;
    flex-direction: column;
    h1 {
        text-align: center;
    }
    .create-column {
        max-width: 200px;
        margin: 0 auto;
        margin-top: 30px
    }
    .column-container {
        display: flex;
        justify-content: space-around;
    }
}

.column {
    background-color: rgb(99, 84, 84);
    padding: 20px;
    border-radius: 15px;
    flex: 1;
    margin: 50px 10px;
    .column-title {
        text-align: center;
        color: rgb(19, 17, 17);
        background-color: #FFF;
        border-radius: 8px;
        height: 40px;
    }
    .column-card-list {
        margin-top: 10px;
        min-height: 220px;
        padding-bottom: 70px;
    }    
}

.card {
    margin-bottom: 10px;
    min-height: 100px;
    color: #FFF;
}
